.steps {
    font-family: url("https://fonts.googleapis.com/css?family=Noto Sans");
    font-weight: 400;
  }
  .forfont{
    font-family: url("https://fonts.googleapis.com/css?family=Noto Sans");
  }
  .days{
    font-family: url("https://fonts.googleapis.com/css?family=Noto Sans");
    font-size: 16px; 
  }
  .Management{
    font-family: url("https://fonts.googleapis.com/css?family=Noto Sans");
  }
  .previous{
    font-family: url("https://fonts.googleapis.com/css?family=Noto Sans"); 
    font-size: 15px;
    font-weight: 400; 
  }