.header {
  float: right;
  margin-bottom: 15px;
}
.footerbtn {
  float: right;
  height: 40px;
  width: 167px;
  left: 1127px;
  top: 144px;
  border-radius: 0px;
  margin-top: 20px;
}
.wer{
    margin-left: 1072px;
}
